* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #eeeeee;
}

.fuente-clara {
    color: #eeeeee;
}

.fuente-oscura {
    color: #22211f;
}

.fuente-acento {
    color: #b59a61;
}

nav ul li {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
}

nav ul li a {
    color: #eeeeee;
}

header {
    background-color: rgba(34, 33, 31, 0.85);
    width: 100%;
}

.logo {
    display: inline-block;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

header {
    position: relative;
    z-index: 1000;
    top: 0;
}

header nav {
    height: 80px;
    float: right;
}

nav ul.menu {
    float: right;
}

nav ul.menu li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul.menu li a {
    color: #eee;
    font-size: 15px;
    text-transform: uppercase;
    padding: 7px 7px;
}

.checkbtn {
    font-size: 25px;
    color: rgb(186, 5, 5);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

main {
    background-color: #30bd6d;
    color: black;
    padding: 20px;
    margin: 1px;
}

footer.fuente-oscura {
    background-color: rgb(200, 200, 87);
    padding: 25px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
}

main p {
    font-size: 14px;
}

header a {
    color: white;
}

header a:visited {
    color: white;
}   

header a:hover {
    color: #caca14;
}

header a:active {
    color: #30bd6d
}

footer a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#section-principal {
    display: inline-flex;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 1px;
    border: 100px;
    align-items: center;
}

.fuente-clara {
    color: #181717;
}

.fuente-acento {
    color: #b59a61;
}

.img2 {
    width: 100px;
    height: 200px;
}

.contenedor1 {
    display: flex;
    padding: 10px;
    text-align: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

.contenedor1 h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contenedor1 .img3 {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.button1 {
    padding: 10px 20px;
    background-color: rgb(221, 144, 50);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.actividad {
    flex-grow: 5;
}

.menu li {
    display: inline-flex;
    margin-right: 40px;
}

.menu {
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.fuente-oscura a {
    display: inline-block;
    margin-right: 100px;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 25px;
    float: right;
    color: white;
    line-height: 20px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

.form1 {
    text-align: center;
    background-color: #f6f7f8;
    border: 10px solid #6c9bc9;
    border-radius: 30px;

    width: 50%;
    margin: 10px auto;
    padding: 10px;
    
}

.form1 h1{
    font-size: 20px;
    margin-bottom: 10px;
}

.formulario {
    background-color: #f6f7f8;
    border: 5px solid #4836cc;
    border-radius: 30px;

    width: 80%;
    padding: 50px;
    margin: 40px 0 10px 70px;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type="text"], .form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 8px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 1px;
    text-align: initial;
}

.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;

    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;

    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;

    width: 100%;
}

.form-row button{
    font-size: 16px;
    font-weight: bold;

    color: #ffffff;
    background-color: #5995da;

    border: none;
    border-radius: 3px;

    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76aeed;
}

.form-row button:active {
    background-color: #407fc7;
}

#nombre, #email, #mensaje {
    border: 3px solid green;
}

.greeting { 
    text-align: center;
    color: #ebe5d7;
}



@media only screen and (max-width: 768px) {
    header {
        background-color: black;
    }

    .checkbtn {
        display: block;
        margin-top: 30px;
    }

    .navbar {
        height: 0vh;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #2c3e50;
        text-align: center;

        transition: all 0.5s;
        overflow: hidden;
    }

    .navbar ul.menu {
        float: none;
        display: block;
        width: 174px;
        margin: 0 auto;
        opacity: 0;
        text-align: center;
    }

    .navbar ul.menu li a:hover {
        color: #b59a61;
    }

    .navbar.active {
        height: 100vh;
    }

    .navbar.active ul.menu {
        opacity: 1;
    }

    .form1{
        padding: 50px;
    }

    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .form-row input[type="text"], [type="email"]{
        width: 250px;
        height: initial;
    }

    .form-row textarea {
        width: 250px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }

    .form-row textarea {
        width: 250px;
    }

    .form-row button {
        margin-left: 60px;
    }

}